/* General */
html {
  font-size: 18px;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: white;
}

.container {
  max-width: 1050px;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 2.15rem;
  color: #383838;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  color: #383838;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  color: #383838;
  font-weight: 500;
  line-height: 1.45rem;
}

h6 {
  font-size: 1.10rem;
  color: #383838;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: gray;
}

span {
  font-size: .75rem;
  color: #383838;
  line-height: .95rem;
}
/* Header */
header {
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2.75rem;
  padding-left: 24px;
}

.Colmar {
  font-size: 1rem;
  font-weight: 700;
}

.Academy {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.desktop a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: 1rem;
  cursor: auto;
  text-decoration: none;
}

.desktop a:hover {
  color: #808080;
}

.desktop a:active {
  color: #808080;
}

nav.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }
}
/* Main Banner Section */
.main-banner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  padding: 32px 24px;
}

.left-section img {
  width: 100%;
}

.right-section {
  width: 440px;
}

.tagline {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tagline h4 {
  margin-top: 12px;
  margin-bottom: 24px;
}

.tagline a {
  background-color: #383838;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
}

.tagline a:hover {
  background-color: #808080;
}

.tagline a:active {
  background-color: #808080;
}

@media only screen and (max-width: 800px) {
  .main-banner .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main-banner .left-section {
    width: 100%;
    padding: 0px 0px;
  }

  .right-section {
    width: 100%;
  }

  .tagline {
    margin: 32px 24px;
    padding-left: 0px;
    align-items: center;
  }

  .tagline a {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .tagline a {
    width: 100%;
    background-color: #808080;
  }

  .tagline a:hover {
    opacity: .7;
  }

  .tagline a:active {
    opacity: .7;
  }
}
